<div class="drawer min-h-screen bg-base-200 lg:drawer-open">
  <input id="canary-drawer" type="checkbox" class="drawer-toggle" />
  <main class="drawer-content">
    <div class="p-4 lg:p-10">
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </div>
  </main>
  <CanaryWeb.Layouts.side_menu
    active_tab={@active_tab}
    current_user={@current_user}
    current_account={@current_account}
  />
</div>
