<!DOCTYPE html>
<html lang="en" class="h-full bg-white [scrollbar-gutter:stable]" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title><%= assigns[:page_title] || "Canary" %></.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

    <link phx-track-static rel="stylesheet" href={~p"/primer_live/primer-live.min.css"} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={~p"/primer_live/primer-live.min.js"}
    >
    </script>
  </head>
  <body
    class="h-full"
    style={
      [
        %{key: "--canary-color-primary-c", value: assigns[:canary_color_c]},
        %{key: "--canary-color-primary-h", value: assigns[:canary_color_h]}
      ]
      |> Enum.filter(fn %{value: value} -> value != nil end)
      |> Enum.map(fn %{key: key, value: value} -> "#{key}:#{value}" end)
      |> Enum.join(";")
    }
  >
    <%= @inner_content %>
  </body>
</html>
