<aside class="fixed inset-y-0 z-50 flex w-60 flex-col">
  <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6">
    <div class="flex h-16 shrink-0 items-center">
      <span class="text-2xl">🐤</span>
    </div>
    <CanaryWeb.Layouts.settings_side_menu active_tab={@settings_active_tab} />
  </div>
</aside>

<main class="py-8 lg:pl-72">
  <div class="px-4 sm:px-6 lg:px-8">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
