/* Dark mode colors. */
:root {
  --sl-color-accent-low: #312000;
  --sl-color-accent: #8a6100;
  --sl-color-accent-high: #e8c384;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eeeeee;
  --sl-color-gray-2: #c2c2c2;
  --sl-color-gray-3: #8b8b8b;
  --sl-color-gray-4: #585858;
  --sl-color-gray-5: #383838;
  --sl-color-gray-6: #272727;
  --sl-color-black: #181818;
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #efd3a5;
  --sl-color-accent: #8c6300;
  --sl-color-accent-high: #442e00;
  --sl-color-white: #181818;
  --sl-color-gray-1: #272727;
  --sl-color-gray-2: #383838;
  --sl-color-gray-3: #585858;
  --sl-color-gray-4: #8b8b8b;
  --sl-color-gray-5: #c2c2c2;
  --sl-color-gray-6: #eeeeee;
  --sl-color-gray-7: #f6f6f6;
  --sl-color-black: #ffffff;
}
