---
name: canary
services:
  db:
    image: paradedb/paradedb:16-v0.8.5
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: canary_dev
    ports:
      - 5432:5432
  typesense:
    image: typesense/typesense:26.0
    restart: on-failure
    ports:
      - 8108:8108
    volumes:
      - ./.typesense/data:/data
    command: --data-dir /data --api-key=canary --enable-cors
