.bg-gray-100 {
  background-color: #f3f4f6;
}

.bg-gray-900 {
  background-color: #111827;
}

.starlight-oxide-dark {
  --sl-color-accent-low: #460b05;
  --sl-color-accent: #c60e00;
  --sl-color-accent-high: #feb3a6;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #f3ecea;
  --sl-color-gray-2: #c8c0be;
  --sl-color-gray-3: #978784;
  --sl-color-gray-4: #635451;
  --sl-color-gray-5: #423432;
  --sl-color-gray-6: #302321;
  --sl-color-black: #1d1715;

  --canary-color-accent-low: var(--sl-color-accent-low);
  --canary-color-accent: var(--sl-color-accent);
  --canary-color-accent-high: var(--sl-color-accent-high);
  --canary-color-white: var(--sl-color-white);
  --canary-color-gray-1: var(--sl-color-gray-1);
  --canary-color-gray-2: var(--sl-color-gray-2);
  --canary-color-gray-3: var(--sl-color-gray-3);
  --canary-color-gray-4: var(--sl-color-gray-4);
  --canary-color-gray-5: var(--sl-color-gray-5);
  --canary-color-gray-6: var(--sl-color-gray-6);
  --canary-color-black: var(--sl-color-black);
}

.starlight-oxide-light {
  --sl-color-accent-low: #ffc8be;
  --sl-color-accent: #c90e00;
  --sl-color-accent-high: #640300;
  --sl-color-white: #1d1715;
  --sl-color-gray-1: #302321;
  --sl-color-gray-2: #423432;
  --sl-color-gray-3: #635451;
  --sl-color-gray-4: #978784;
  --sl-color-gray-5: #c8c0be;
  --sl-color-gray-6: #f3ecea;
  --sl-color-gray-7: #f9f5f5;
  --sl-color-black: #ffffff;

  --canary-color-accent-low: var(--sl-color-accent-low);
  --canary-color-accent: var(--sl-color-accent);
  --canary-color-accent-high: var(--sl-color-accent-high);
  --canary-color-white: var(--sl-color-white);
  --canary-color-gray-1: var(--sl-color-gray-1);
  --canary-color-gray-2: var(--sl-color-gray-2);
  --canary-color-gray-3: var(--sl-color-gray-3);
  --canary-color-gray-4: var(--sl-color-gray-4);
  --canary-color-gray-5: var(--sl-color-gray-5);
  --canary-color-gray-6: var(--sl-color-gray-6);
  --canary-color-black: var(--sl-color-black);
}

.starlight-ocean-dark {
  --sl-color-accent-low: #00273d;
  --sl-color-accent: #0071a7;
  --sl-color-accent-high: #92d1fe;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e7eff2;
  --sl-color-gray-2: #bac4c8;
  --sl-color-gray-3: #7b8f96;
  --sl-color-gray-4: #495c62;
  --sl-color-gray-5: #2a3b41;
  --sl-color-gray-6: #182a2f;
  --sl-color-black: #121a1c;

  --canary-color-accent-low: var(--sl-color-accent-low);
  --canary-color-accent: var(--sl-color-accent);
  --canary-color-accent-high: var(--sl-color-accent-high);
  --canary-color-white: var(--sl-color-white);
  --canary-color-gray-1: var(--sl-color-gray-1);
  --canary-color-gray-2: var(--sl-color-gray-2);
  --canary-color-gray-3: var(--sl-color-gray-3);
  --canary-color-gray-4: var(--sl-color-gray-4);
  --canary-color-gray-5: var(--sl-color-gray-5);
  --canary-color-gray-6: var(--sl-color-gray-6);
  --canary-color-black: var(--sl-color-black);
}

.starlight-ocean-light {
  --sl-color-accent-low: #b0deff;
  --sl-color-accent: #0073aa;
  --sl-color-accent-high: #003653;
  --sl-color-white: #121a1c;
  --sl-color-gray-1: #182a2f;
  --sl-color-gray-2: #2a3b41;
  --sl-color-gray-3: #495c62;
  --sl-color-gray-4: #7b8f96;
  --sl-color-gray-5: #bac4c8;
  --sl-color-gray-6: #e7eff2;
  --sl-color-black: #ffffff;

  --canary-color-accent-low: var(--sl-color-accent-low);
  --canary-color-accent: var(--sl-color-accent);
  --canary-color-accent-high: var(--sl-color-accent-high);
  --canary-color-white: var(--sl-color-white);
  --canary-color-gray-1: var(--sl-color-gray-1);
  --canary-color-gray-2: var(--sl-color-gray-2);
  --canary-color-gray-3: var(--sl-color-gray-3);
  --canary-color-gray-4: var(--sl-color-gray-4);
  --canary-color-gray-5: var(--sl-color-gray-5);
  --canary-color-gray-6: var(--sl-color-gray-6);
  --canary-color-black: var(--sl-color-black);
}
